@font-face {
  font-family: "SpaceParis";
  src: url("Fonts/Paris.ttf") format("truetype");
}

:root {
  --text-color: rgba(237, 224, 190);
  --background-color: rgba(2, 24, 48);
  --ui-color: rgba(1, 12, 24, 1);
  --ui-color-gradient: rgba(1, 12, 24, 0);

  --background-layer: -10;
  --foreground-layer: 10;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "SpaceParis", sans-serif;
}

body {
  width: 100%;
}

.canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--background-layer);

  width: 100%;
  height: 100vh;

  background-color: var(--background-color);
}

.header {
  position: sticky;
  top: 0;
  z-index: var(--foreground-layer);

  height: 8rem;

  backdrop-filter: blur(5px);
  background-image: linear-gradient(
    var(--ui-color) 20%,
    var(--ui-color-gradient)
  );
}

.container {
  margin: auto;
  margin-top: 4rem;
  width: min(80%, 1200px);

  display: grid;
  grid-template-columns: 1fr;
  gap: 6rem;
}

@media screen and (min-width: 1200px) {
  .container {
    grid-template-columns: 1fr 1fr;
    gap: 0;
    column-gap: 4rem;
    row-gap: 8rem;
  }
}

.link {
  position: relative;

  width: 100%;

  border: 0.5rem solid var(--ui-color);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.link__label {
  position: absolute;
  top: -0.25rem;
  left: -0.5rem;
  transform: translateY(-100%);

  max-width: 100%;
  padding: 0.5rem 1rem;
  color: var(--text-color);
  background-color: var(--ui-color);

  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.link__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  height: 10rem;
}
